<!-- Content -->
<section class="container">
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
    <article class="work__project">
        <div class="work__project-image"></div>
        <section class="work__project-info">
           <a routerLink="work-single" class="work__project-link">
              <h2 class="work__project-title">Alamin Brands</h2>
              <p class="work__project-copy">HTML/CSS/JavaScript</p>
           </a>
        </section>
    </article>
</section>
<!--// Content //-->