@import url(https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Pacifico&family=Roboto&display=swap);

h1, h2, h3, h4, h5, h6, nav {
    font-family: 'Asap', sans-serif;
}

h1 {
    font-size: 4em;
    margin: 0;
}

p {
    font: {
        family: 'Roboto';
        size: 1.6em;
    }
}

nav {
    font-size: 1.6em;
}