@import '../../sass/utilities/variables.scss';
.mobile-nav {
  align-items: center;
  background-color: $black;
  bottom: 0px;
  color: $primary-color;
  display: flex;
  flex: {
    direction: row;
  }
  justify-content: center;
  left: 0;
  padding: 1.5em 1em 2em;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @at-root &__list {
    color: inherit;
    display: flex;
    list-style: none;
    width: 100%;

    @at-root &-item {
      @at-root &-link {
        color: $primary-color;
      }
    }
  }
}
