<!-- Mobile-Navigation -->
<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__list-item">
      <a routerLink="about" class="mobile-nav__list-item-link">About</a>
    </li>
    <li class="mobile-nav__item">
      <a routerLink="work" class="mobile-nav__list-item-link">Work</a>
    </li>
    <li class="mobile-nav__item">
      <a routerLink="blog" class="mobile-nav__list-item-link">Resumé</a>
    </li>
    <li class="mobile-nav__item">
      <a routerLink="contact" class="mobile-nav__list-item-link">Contact</a>
    </li>
  </ul>
</nav>
<!--// Mobile-Navigation //-->
