<!-- Content -->
<section class="container">
    <div class="text-wrapper">
        <h2 class="contact__title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, fugit!</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore blanditiis error perferendis quis quae dolores nihil eius eveniet sapiente, a dicta odit reprehenderit, ipsum, voluptatibus vero animi magni minus recusandae! Maiores, culpa sunt aspernatur, quis quam quaerat placeat laudantium harum ratione eum similique ipsam sapiente necessitatibus doloribus, omnis earum autem.</p>
    </div>
    <form class="contact__form">
        <div class="contact__form-group">
            <label class="contact__form-label" for="contact__name">Name</label>
            <input class="contact__form-input" type="text" id="contact__name" name="name">
        </div>
        <div class="contact__form-group">
            <label class="contact__form-label" for="contact__email">Email</label>
            <input class="contact__form-input" type="email" id="contact__email" name="email">
        </div>
        <div class="contact__form-group">
            <label class="contact__form-label" for="contact__organization">Organization</label>
            <input class="contact__form-input" type="text" id="contact__organization" name="organization">
        </div>
        <div class="contact__form-group">
            <label class="contact__form-label" for="contact__reason">Reason for Contact</label>
            <select class="contact__form-input" id="contact__reason" name="reason">
                <option disabled>Select an Option</option>
                <option value="1">This is an option</option>
                <option value="1">This is an option</option>
                <option value="1">This is an option</option>
                <option value="1">This is an option</option>
            </select>
        </div>
        <div class="contact__form-group">
            <label class="contact__form-label contact__form-label--textarea" for="contact__message">Additional Comments</label>
            <textarea class="contact__form-input contact__form-input--textarea" id="contact__message" name="message" id="" cols="30" rows="10"></textarea>
        </div>
        <button class="contact__form-submit-button">Connect with me</button>
    </form>
</section>
<!--// Content //-->