// Navigation styles
@import '../../sass/utilities/variables.scss';
.nav {
    align-items: center;
    background-color: $primary-color;
    color: $black;
    display: flex;
    height: 90px;
    justify-content: center;
    padding: 0 20px;
    position: relative;

    @at-root &-list {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        max-width: 768px;
        padding: 0;
        width: 100%;

        @media screen and (min-width: 540px) {
            justify-content: space-between;
        }
    }

    @at-root &-item {
        display: none;
        padding-right: 10px;
        transition: .25s all linear;

        @media screen and (min-width: 540px) {
            display: inline-block;
        }

        @at-root &-link {
            color: $black;
            text-decoration: none;
        }

        @at-root &-home {
            display: inline-block;
        }

        @at-root &:hover {
            color: #000;
            font-weight: 700;
        }

        @at-root &:last-child {
            padding-right: 0;
        }

        @at-root &-logo {
            max-width: 241px;
            max-height: 52px;
            width: 100%;
        }
    }
}