<!-- Content -->
<section class="container">
    <article class="blog__post blog__post--javascript">
        <div class="blog__post-meta">
            <span class="blog__post-category">JavaScript</span>
            <time class="blog__post-date" datetime='2020-05-01'>May 01, 2020</time>
        </div>
        <h2 class="blog__post-title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, id illum! Quam odio ipsam minima neque ut. Provident quaerat reiciendis assumenda dolorem consequuntur unde iure perferendis non autem error incidunt nemo id, excepturi expedita placeat, repellendus modi, tempora explicabo dicta voluptatibus. Quam, maiores fugiat. Omnis quis sunt magnam eos quasi?</p>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur dolorem ipsa fugit perspiciatis dicta non soluta molestias quam. Exercitationem illum, dolor eligendi dicta perspiciatis repudiandae?</p>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, id illum! Quam odio ipsam minima neque ut. Provident quaerat reiciendis assumenda dolorem consequuntur unde iure perferendis non autem error incidunt nemo id, excepturi expedita placeat, repellendus modi, tempora explicabo dicta voluptatibus. Quam, maiores fugiat. Omnis quis sunt magnam eos quasi?</p>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur dolorem ipsa fugit perspiciatis dicta non soluta molestias quam. Exercitationem illum, dolor eligendi dicta perspiciatis repudiandae?</p>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, id illum! Quam odio ipsam minima neque ut. Provident quaerat reiciendis assumenda dolorem consequuntur unde iure perferendis non autem error incidunt nemo id, excepturi expedita placeat, repellendus modi, tempora explicabo dicta voluptatibus. Quam, maiores fugiat. Omnis quis sunt magnam eos quasi?</p>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur dolorem ipsa fugit perspiciatis dicta non soluta molestias quam. Exercitationem illum, dolor eligendi dicta perspiciatis repudiandae?</p>
        <p class="blog__post-copy">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, architecto.</p>
    </article>

    <article class="author">
        <div class="author__image"></div>
        <div class="author__info">
            <h3 class="author__info-name">Elijah Williams</h3>
            <p class="author__info-copy">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium saepe, distinctio nesciunt error in ut quasi odit quia commodi eos.</p>
            <ul class="social-links">
                <li class="social-links-item">
                    <i class="fab fa-github"></i>
                </li>
                <li class="social-links-item social-links-item--instagram">
                    <i class="fab fa-instagram"></i>
                </li>
                <li class="social-links-item social-links-item--linked-in">
                    <i class="fab fa-linkedin"></i>
                </li>
                <li class="social-links-item social-links-item--email">
                    <i class="far fa-envelope-open"></i>
                </li>
            </ul>
        </div>
    </article>
</section>
<!--// Content //-->