<!-- Content -->
<section class="container">
  <div class="about_img"></div>
  <div class="text-wrapper">
    <h1 class="about_title">About Me</h1>
    <p>Hello! I'm Elijah, an experienced front end software engineer based in St. Louis, MO.</p>
    <p>
      I love to creating pleasant experiences for users on the web.
      I have a goal to build functional websites and applications that are accessible to everyone!
    </p>
    <p>
      I'm passionate and committed to improving my own knowledge and skills. <br />
      Here are a few technologies I've been working with:
    </p>
    <ul class="about_tech-list">
      <li class="about_tech-list-item">HTML5 &amp; (S)CSS</li>
      <li class="about_tech-list-item">JavaScript</li>
      <li class="about_tech-list-item">Angular</li>
      <li class="about_tech-list-item">Node.js</li>
      <li class="about_tech-list-item">PHP (Laravel)</li>
      <li class="about_tech-list-item">RESTful APIs</li>
    </ul>
  </div>
</section>
<!--// Content //-->
