<!-- Content -->
<section class="container">
    <div class="about-img"></div>
    <div class="text-wrapper">
        <h1>Incididunt eiusmod reprehenderit enim Lorem pariatur.</h1>
        <p>Cillum minim sint pariatur veniam ex occaecat ad dolor minim dolor nulla laboris in anim. Duis minim excepteur proident ex nisi esse. Velit dolore aliquip anim quis pariatur fugiat ad amet. Incididunt fugiat eiusmod officia labore anim amet in laboris.</p>
        <p>Cillum minim sint pariatur veniam ex occaecat ad dolor minim dolor nulla laboris in anim. Duis minim excepteur proident ex nisi esse. Velit dolore aliquip anim quis pariatur fugiat ad amet. Incididunt fugiat eiusmod officia labore anim amet in laboris.</p>
    </div>
</section>
<!--// Content //-->