<div class="resume">
  <h2 class="resume__section-title">Work Experience</h2>
  <div class="resume__container">
    <div class="resume__sidebar">
      <button class="resume__button" data-for-tab="1">
        <span class="resume__button--desktop">LL Flooring</span>
        <span class="resume__button--mobile">LLF</span>
      </button>
      <button class="resume__button" data-for-tab="2">
        <span class="resume__button--desktop">LaunchCode</span>
        <span class="resume__button--mobile">LC</span>
      </button>
      <button class="resume__button" data-for-tab="3">
        <span class="resume__button--desktop">New Balance</span>
        <span class="resume__button--mobile">NB</span>
      </button>
      <button class="resume__button" data-for-tab="4">
        <span class="resume__button--desktop">Tacony Corp.</span>
        <span class="resume__button--mobile">TC</span>
      </button>
      <button class="resume__button" data-for-tab="5">
        <span class="resume__button--desktop">Impact Directories</span>
        <span class="resume__button--mobile">ID</span>
      </button>
    </div>
    <div class="resume__content" data-tab="1">
      <h3 class="resume__title">
        LL Flooring
        <small class="resume__job-title">Salesforce Commerce Cloud Developer</small>
      </h3>
      <p class="resume__copy">Delivering high-quality front-end code converting wireframe and mocks into valid markup
        while following an established styleguide. Performing with a strong understanding of UI, cross-browser
        compatibility, general web functions and standards, and staying current on new technologies as they relate to
        web-based development to ensure quality and maintainable code is produced.</p>
      <span class="resume__metadata">Feb. 2021 - Present</span>
      <div class="resume__skills">
        <h4 class="resume__skills-title">Skills/Technologies:</h4>
        <ul class="tech-list">
          <li class="tech-list-item">HTML5 & (S)CSS</li>
          <li class="tech-list-item">JavaScript</li>
          <li class="tech-list-item">Salesforce</li>
        </ul>
      </div>
    </div>
    <div class="resume__content" data-tab="2">
      <h3 class="resume__title">
        LaunchCode
        <small class="resume__job-title">Tech Leadership Fellow</small>
      </h3>
      <p class="resume__copy">Delivering high-quality front-end code converting wireframe and mocks into valid markup
        while following an established styleguide. Performing with a strong understanding of UI, cross-browser
        compatibility, general web functions and standards, and staying current on new technologies as they relate to
        web-based development to ensure quality and maintainable code is produced.</p>
      <span class="resume__metadata">Dec. 2020 - Present</span>
      <div class="resume__skills">
        <h4 class="resume__skills-title">Skills/Technologies:</h4>
        <ul class="tech-list">
          <li class="tech-list-item">Teaching</li>
          <li class="tech-list-item">JavaScript</li>
          <li class="tech-list-item">Leadership/Mentorship</li>
          <li class="tech-list-item">Leadership</li>
          <li class="tech-list-item">Team Management</li>
        </ul>
      </div>
    </div>
    <div class="resume__content" data-tab="3">
      <h3 class="resume__title">
        New Balance
        <small class="resume__job-title">Web UI Developer</small>
      </h3>
      <p class="resume__copy">Delivering high-quality front-end code converting wireframe and mocks into valid markup
        while following an established styleguide. Performing with a strong understanding of UI, cross-browser
        compatibility, general web functions and standards, and staying current on new technologies as they relate to
        web-based development to ensure quality and maintainable code is produced.</p>
      <span class="resume__metadata">Oct. 2019 - Dec. 2020</span>
      <div class="resume__skills">
        <h4 class="resume__skills-title">Skills/Technologies:</h4>
        <ul class="tech-list">
          <li class="tech-list-item">HTML5 & (S)CSS</li>
          <li class="tech-list-item">JavaScript</li>
          <li class="tech-list-item">Salesforce</li>
        </ul>
      </div>
    </div>
    <div class="resume__content" data-tab="4">
      <h3 class="resume__title">
        Tacony Corp.
        <small class="resume__job-title">Front End Software Engineer</small>
      </h3>
      <p class="resume__copy">Provided front end solutions for various brands, and translated designs within Adobe XD
        into
        accessible and responsive UI. Build emails and landing pages using the Marketo platform and also provided
        consultation where needed to train the client on how to use the created templates.</p>
      <span class="resume__metadata">July 2016 - Sept. 2019</span>
      <div class="resume__skills">
        <h4 class="resume__skills-title">Skills/Technologies:</h4>
        <ul class="tech-list">
          <li class="tech-list-item">HTML5 & (S)CSS</li>
          <li class="tech-list-item">JavaScript</li>
          <li class="tech-list-item">PHP (Laravel)</li>
          <li class="tech-list-item">React</li>
          <li class="tech-list-item">Magento</li>
          <li class="tech-list-item">MySQL</li>
          <li class="tech-list-item">RESTful APIs</li>
        </ul>
      </div>
    </div>
    <div class="resume__content" data-tab="5">
      <h3 class="resume__title">
        Impact Directories
        <small class="resume__job-title">Web Developer</small>
      </h3>
      <p class="resume__copy">Designing, developing, and implementing various technologies to provide clientele with
        websites that achieve their business goals and also improve their site's Search Engine Optimization, by building
        with clean and compliant code.</p>
      <span class="resume__metadata">Dec. 2014 - Feb. 2016</span>
      <div class="resume__skills">
        <h4 class="resume__skills-title">Skills/Technologies:</h4>
        <ul class="tech-list">
          <li class="tech-list-item">HTML5</li>
          <li class="tech-list-item">CSS3</li>
          <li class="tech-list-item">JavaScript</li>
        </ul>
      </div>
    </div>
  </div>
</div>
