<!-- Content -->
<section class="container">
    <article class="blog__post blog__post--javascript">
        <h2 class="blog__post-title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo, quibusdam similique porro sunt sint veniam tenetur earum nisi doloremque.</p>
        <a routerLink="blog-single" class="blog__post-button">Read Article</a><span class="blog__post-category">JavaScript</span>
    </article>
    <article class="blog__post blog__post--blue">
        <h2 class="blog__post-title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo, quibusdam similique porro sunt sint veniam tenetur earum nisi doloremque.</p>
        <a routerLink="blog-single" class="blog__post-button">Read Article</a><span class="blog__post-category">JavaScript</span>
    </article>
    <article class="blog__post blog__post--mag">
        <h2 class="blog__post-title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo, quibusdam similique porro sunt sint veniam tenetur earum nisi doloremque.</p>
        <a routerLink="blog-single" class="blog__post-button">Read Article</a><span class="blog__post-category">JavaScript</span>
    </article>
    <article class="blog__post blog__post--javascript">
        <h2 class="blog__post-title">Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>
        <p class="blog__post-copy">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque explicabo, quibusdam similique porro sunt sint veniam tenetur earum nisi doloremque.</p>
        <a routerLink="blog-single" class="blog__post-button">Read Article</a><span class="blog__post-category">JavaScript</span>
    </article>
</section>
<!--// Content //-->