.ff-pacifico {
  font: {
    family: 'Pacifico', cursive;
    weight: 400;
  }
}
.text-nowrap {
  white-space: nowrap;
}

.primary-text {
  color: $primary-color;
}

.secondary-text {
  color: $secondary-color;
}

.tertiary-text {
  color: $tertiary-color;
}
