// Mixins
@mixin color($color1, $color2) {
  background-color: $color1;
  box-shadow: -2px -2px 8px rgba($color2, 1),
                -2px -2px 4px rgba($color2, .25),
                2px 2px 4px rgba(black, .2);
}

@keyframes slide {
    0% {
        transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fillSVG {
  from {
    fill: transparent;
  }
  to {
    fill: $black;
    stroke: none;
  }
}
