<section class="container">
  <div class="text-wrapper">
    <h1>Hello! I'm <span class="ff-pacifico text-nowrap">Elijah Williams</span><br> I build the interwebs 😄.
    </h1>
    <p class="home_copy">I'm a front-end software engineer based in St. Louis, MO specializing in building websites and
      applications, and connecting people together through the interwebs.</p>
    <ul class="social-links">
      <li class="social-links-item">
        <a class="social-links-item--rock" title="Github profile: sayhelloelijah"
          target="_blank" href="https://github.com/sayhelloelijah"><i class="fab fa-github"></i></a>
      </li>
      <li class="social-links-item">
        <a class="social-links-item--rock social-links-item--instagram" title="Instagram profile: sayhelloelijah"
          target="_blank" href="https://instagram.com/sayhelloelijah"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="social-links-item">
        <a class="social-links-item--rock social-links-item--linked-in" title="LinkedIn profile: sayhelloelijah"
          target="_blank" href="https://linkedin.com/in/sayhelloelijah"><i class="fab fa-linkedin"></i></a>
      </li>
      <li class="social-links-item">
        <a class="social-links-item--rock social-links-item--email" title="Email: say@helloelijah.com" target="_blank"
          href="mailto:say@helloelijah.com"><i class="far fa-envelope-open"></i></a>
      </li>
    </ul>
    <a href="#" class="button">Hire Me!</a>
  </div>
</section>
<!--// Content //-->
