<section class="container">
    <div class="text-wrapper">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        <p>Cillum minim sint pariatur veniam ex occaecat ad dolor minim dolor nulla laboris in anim. Duis minim excepteur proident ex nisi esse. Velit dolore aliquip anim quis pariatur fugiat ad amet. Incididunt fugiat eiusmod officia labore anim amet in laboris.</p>
        <!-- <ul class="social-links">
            <li class="social-links-item social-links-item--facebook">
                <i class="fab fa-facebook-square"></i>
            </li>
            <li class="social-links-item social-links-item--instagram">
                <i class="fab fa-instagram"></i>
            </li>
            <li class="social-links-item social-links-item--linked-in">
                <i class="fab fa-linkedin"></i>
            </li>
            <li class="social-links-item social-links-item--email">
                <i class="far fa-envelope-open"></i>
            </li>
        </ul> -->
        <a href="#" class="button">Hire Me!</a>
    </div>
</section>
<!--// Content //-->