<!-- Mobile-Navigation -->
<nav class="mobile-nav">
  <ul class="mobile-nav__list">
    <li class="mobile-nav__list-item">
      <a routerLink="" class="mobile-nav__list-item-link" routerLinkActive="mobile-nav__list-item-link--active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home mobile-nav__list-item-icon"></i>
        Home
      </a>
    </li>
    <li class="mobile-nav__list-item">
      <a routerLink="about" class="mobile-nav__list-item-link" routerLinkActive="mobile-nav__list-item-link--active">
        <i class="far fa-address-card mobile-nav__list-item-icon"></i>
        About
      </a>
    </li>
    <li class="mobile-nav__item">
      <a routerLink="work" class="mobile-nav__list-item-link" routerLinkActive="mobile-nav__list-item-link--active">
        <i class="fa fa-address-card mobile-nav__list-item-icon"></i>
        Work
      </a>
    </li>
    <li class="mobile-nav__item">
      <a routerLink="blog" class="mobile-nav__list-item-link" routerLinkActive="mobile-nav__list-item-link--active">
        <i class="fa fa-address-card mobile-nav__list-item-icon"></i>
        Resumé
      </a>
    </li>
    <li class="mobile-nav__item">
      <a routerLink="contact" class="mobile-nav__list-item-link" routerLinkActive="mobile-nav__list-item-link--active">
        <i class="far fa-comments mobile-nav__list-item-icon"></i>
        Contact
      </a>
    </li>
  </ul>
</nav>
<!--// Mobile-Navigation //-->
