@import '../../../sass/utilities/variables.scss';

.mobile-nav {
  align-items: center;
  background-color: $black;
  bottom: 0px;
  box-shadow: 0px -3px 6px rgba($black, 40%);
  color: $primary-color;
  display: flex;
  flex: {
    direction: row;
  }
  justify-content: center;
  left: 0;
  padding: 0 0.25em;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @at-root &__list {
    align-items: center;
    color: inherit;
    display: flex;
    justify-content: space-around;
    list-style: none;
    max-width: 100%;
    width: 100%;

    @at-root &-item {
      @at-root &-icon {
        font-size: 1.8em;
        margin-bottom: .25em;
      }
      @at-root &-link {
        align-items: center;
        color: $white;
        display: flex;
        flex: {
          direction: column;
        }
        font-size: 0.75em;
        justify-content: space-evenly;
        padding: 1.25em 2em;
        text-decoration: none;

        @at-root &--active {
          border-top: 5px solid $primary-color;
          color: $primary-color !important;
          padding-top: 0.75em;
          // text-shadow: -1px -1px 2px darken($white, 10%);
        }
      }
    }
  }
}
