<div class="resume">
  <div class="resume__sidebar">
    <button class="resume__button" data-for-tab="1">Button 1</button>
    <button class="resume__button" data-for-tab="2">Button 2</button>
    <button class="resume__button" data-for-tab="3">Button 3</button>
  </div>
  <div class="resume__content" data-tab="1">
    <h2 class="resume__title">Tab 1</h2>
    <p class="resume__copy">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, omnis incidunt qui
      ducimus autem libero.</p>
  </div>
  <div class="resume__content" data-tab="2">
    <h2 class="resume__title">Tab 2</h2>
    <p class="resume__copy">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, omnis incidunt qui
      ducimus autem libero.</p>
  </div>
  <div class="resume__content" data-tab="3">
    <h2 class="resume__title">Tab 3</h2>
    <p class="resume__copy">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, omnis incidunt qui
      ducimus autem libero.</p>
  </div>
</div>
