@import '../../sass/utilities/variables.scss';
@import '../../sass/utilities/mixins.scss';

.resume {
  display: flex;
  flex-direction: column;

&:nth-child(even) {
    box-shadow: -1em 0.7em 1em rgba(0, 0, 0, 0.1);

    &:after {
        left: -1.7em;
    }
}

  @at-root &__button {
    background-color: $super-white;
    border: none;
    display: block;
    font: {
      family: 'Asap', sans-serif;
      size: 1.8em;
      weight: 700;
    }
    padding: 1.1em 0;
    transition: all .3s ease-in-out;
    width: 100%;

    @at-root &:first-child {
      border: {
        radius: 1em 0 0 0;
      }
    }

    @at-root &:hover, &:active, &:focus {
      background-color: lighten($primary-color, 30%);
    }

    @at-root &:not(:last-of-type) {
      border-bottom: 1px solid $white;
    }

    @at-root &--active {
      background-color: lighten($primary-color, 30%);
    }
  }

  @at-root &__container {
    align-self: center;
  background-color: $super-white;
  border: 1px solid $white {
      radius: 2em;
  }
  box-shadow: 1em .7em 1em rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  margin: 1em auto 3em;
  min-height: 350px;
  position: relative;
  width: 70%;

  &:after {
    background-color: $primary-color;
    border-radius: 2em;
    content: '';
    height: 100%;
    left: 1.7em;
    position: absolute;
    top: 1.7em;
    width: 100%;
    z-index: -1;
  }
}

  @at-root &__content {
    display: none;
    flex: {
      direction: column;
    }
    padding: 3em;
    position: relative;

    @at-root &--active {
      animation: appear 0.75s forwards;
      display: flex;
    }
  }

  @at-root &__job-title {
      display: block;
      font-size: 0.6em;
      color: $secondary-color;
      margin-top: 0.2em;
      text-transform: uppercase;
  }

  @at-root &__metadata {
    color: $tertiary-color;
    font: {
        family: 'Asap', sans-serif;
        size: 1.6em;
    }
    position: absolute;
    top: 2em;
    right: 2em;
}

  @at-root &__section-title {
    font-size: 4em;
    margin: {
      bottom: 1em;
      left: 1em;
      top: 2em;
    }
  }

  @at-root &__sidebar {
    background-color: $super-white;
    border: {
      radius: 2em 0 0 2em;
      right: 3px solid lighten($primary-color, 30%);
    }
    flex-shrink: 0;
    width: 200px;
  }

  @at-root &__skills {
    @at-root &-title {
      font: {
        size: 1.8em;
      }
      margin: 1em 0 0.5em;
    }
  }

  @at-root &__title {
    font-size: 3em;
    margin: 0;
  }
}
