.home {
    background-color: $primary-color;

    @at-root &_copy {
      max-width: 29em;
      line-height: 1.5;
    }
  }

.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 180px);
    margin: 0 auto;
    max-width: 636px;
    padding: 4em 2em;
    width: 100%;

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }
    @media screen and (min-width: 960px) {
      max-width: 1200px;
    }
}

.button {
  @include color($secondary-color, $primary-color);
  border: 2px solid $secondary-color {
      radius: 0.5em 0.75em 0.75em 0;
    }
    color: $white;
    display: inline-block;
    font: {
        family: 'Asap', sans-serif;
        size: 1.9em;
    }
    letter-spacing: 0.01em;
    margin: 0;
    padding: 0.5em 2.3em;
    position: relative;
    text-decoration: none;
    transition: .2s all linear;

    @at-root &:hover, &:active, &:focus {
      animation: 1s pulse infinite;
    }
}

.social-links {
    font-size: 2.5em;
    list-style: none;
    margin: 0;
    padding: 0;

    @at-root &-item {
        color: $black;
        cursor: pointer;
        display: inline-block;
        margin: 0 1em 0.7em 0;

        @at-root &--rock {
          @at-root &:hover i, &:focus i {
            animation: rock 0.75s infinite;
          }
        }

        @at-root a { color: $black; }

        @at-root &--email:hover, &--email:focus {
          color: darken($primary-color, 40%);
        }

        @at-root &--facebook:hover,  &--facebook:focus {
            color: $facebook;
        }

        @at-root &--instagram:hover,  &--instagram:focus {
          color: $instagram;
        }

        @at-root &--linked-in:hover,  &--linked-in:focus {
          color: $linkedin;
      }
    }
}

.about, .blog, .contact {
    height: auto;
    .container {
        flex-direction: column;
        height: auto;
    }
}

.about {
  .container {
    flex-direction: row;
  }
  .text-wrapper {
    width: 60%;
  }
  @at-root &_title {
    font-size: 4em;
  }
}

.work {height: auto;}
